<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/blank/layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/login/login-form.css}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div layout:fragment="content" class="login-background d-flex">
        <div class="card col-6 m-auto login-form-card">
            <div class="card-body">
                <h4 class="card-title">Login</h4>
                <form th:action="${T(com.project.projectstarter.web.common.WebRoutes).LOGIN}" method="POST"
                    th:object="${loginModel}">
                    <div class="form-group">
                        <label for="email-input">Email address</label>
                        <input type="email" class="form-control" id="email-input" placeholder="Enter your email"
                            th:field="*{phoneOrEmail}">
                    </div>
                    <div class="form-group">
                        <label for="pwd-input">Password</label>
                        <input type="password" class="form-control" id="pwd-input" placeholder="Enter your password"
                            th:field="*{password}">
                    </div>
                    <button type="submit" class="btn btn-success float-right">Login</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>