<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:replace="layouts/blank/header :: header"></div>

    <th:block layout:fragment="content"></th:block>

    <div th:replace="layouts/blank/footer :: footer"></div>

    <!-- Scripts -->
    <th:block layout:fragment="scripts">
        <!-- Feature specific js -->
    </th:block>
</body>

</html>